<div class="asdf">
    <div class="addC">
        <button class="btn btn-primary" type="submit">Add Country</button>
    
    </div>
    <div class="addcountry">
        <form class="row g-3">
            <div class="col-md-4">
              <div class="form-outline">
                <input type="text" placeholder="Country Name" class="form-control" id="validationDefault03" required />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-outline">
                <input type="text" placeholder="Code" class="form-control" id="validationDefault05" required />
              </div>
            </div>
            <div class="add col-12">
              <button class="btn btn-primary" type="submit">Save</button>
            </div>
          </form>
    </div>
    
</div>
