<div class="box">
  <div class="signup">
    <div class="signup-box">
        <h1>SignUp</h1>
        <form [formGroup]="signupForm">
          <label>First Name</label>
          <input formControlName="firstName" type="text" placeholder="" />
          <label>Last Name</label>
          <input formControlName="lastName" type="text" placeholder="" />
          <label>Email</label>
          <input formControlName="email" type="email" placeholder="" />
          <label>Password</label>
          <input formControlName="password" type="password" placeholder="" />
          <label>Confirm Password</label>
          <input formControlName="confirmPassword" type="password" placeholder="" />
          <button (click)="signUp()" class="button">Submit</button>
        </form>
      <p>
        By clicking the Sign Up button,you agree to our <br />
        <a href="#">Terms and Condition</a> and <a href="#">Policy Privacy</a>
      </p>
  
      <p class="para">
          Already have an account? <a routerLink="/authentication/login">Login here</a>
      </p>
     
    </div>
    
  </div>
  

</div>